@import "../core/utils";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit-Regular';
}

.d-flex {
    display: flex;
}

.ac {
    align-items: center;
}

.jc {
    justify-content: center;
}

.jb {
    justify-content: space-between;
}

.g-20 {
    gap: 20px;
}

.flex-column {
    flex-direction: column;
}

a {
    text-decoration: none;
}

.h-fit {
    height: calc(100vh - 140px);
}

.err-txt {
    color: #ff0000bb;
    font-size: 22px;
}

.mb-2 {
    margin-bottom: 24px;
}

.btn {
    height: 44px;
    width: fit-content;
    padding: 0 15px;
    border-radius: 6px;
    border: none;
    background-color: #c5aa6a;
    font-weight: 600;
    cursor: pointer;

    &.btn-del {
        background-color: #cc1919;
        color: #ffffff;
    }
}

.cp {
    cursor: pointer;
}


/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c5aa6a;
    border-radius: 6px;
}